
.cntLogin {
    padding: 15px;
    .group-input {
        flex: 1;
        label {
            font-size: 13px;
            font-weight: 600;
        }
    }
    .cntButton {
        text-align: center;
        background: #0fca1d;
        color: white;
        border: none;
        margin-top: 15px;
        padding: 6px 0;
        width: 100%;
        border-radius: 5px;
    }
}