
.cntLogin {
    width: 500px;
    padding: 15px;
    .group-input {
        flex: 1;
    }
    .cntButton {
        text-align: center;
        background: #0fca1d;
        color: white;
        padding: 6px 0;
        border-radius: 5px;
    }
}