@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";


* {
    font-size: 15px;
    color: #656b88;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background: #ececec;
}

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .group-input {
        display: flex;
        flex-direction: column;
        margin: 10px;
        .input-form {
            font-size: 16px;
            border-radius: 4px;
            padding: 7px;
            border: 1px solid #d0d0d0;
        }
    }
}

input {
    &:focus {
        box-shadow: 0 0 4px #88a8ff;
        outline: none;
    }
}

.cntContainer {
    max-width: 100%;
}

label {
    margin-bottom: 4px;
}

button {
    &:disabled{
        color: #656b88 !important;
        background-color: #cccccc !important;
    }
}