@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
@import url('./global-components.less');
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    background-color: #dcdcdc !important;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9c9c !important;
    border-radius: 8px;
}

body {
    margin: 0;
    background: #f9f9f9 !important;
}

a:hover {
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    .group-input {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 10px;
        .input-form {
            font-size: 16px;
            border-radius: 4px;
            padding: 7px;
            border: 1px solid #d0d0d0;
        }
    }
}

input {
    &:focus {
        box-shadow: 0 0 4px #88a8ff;
        outline: none;
    }
}

label {
    margin-bottom: 4px;
}

button {
    border: none;
    &:disabled {
        cursor: not-allowed;
        color: #656b88 !important;
        background-color: #cccccc !important;
    }
}