.cntDiagnostico {
    display: flex;
    flex-direction: column;
    .cntSearch {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        min-height: 60px;
        .form-group {
            flex: 2;
        }
        .adicionar {
            height: 35px;
            padding: 0 10px;
            background: #497ef3;
            color: white;
            border-radius: 3px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}