<div class="cntDiagnostico">
    <div class="cntSearch">
        <!-- <div class="form-group">
            <label>Pesquisar por </label>
            <input class="form-control" type="text" maxlength="60" [(ngModel)]='valueSearch' placeholder="Nome do paciente">
        </div> -->
        <!-- <span>
                <i class="fas fa-search"></i>
            </span> -->
        <span class="adicionar" (click)='openInsertAgro()'>
            Adicionar agrotóxico
        </span>

    </div>
    <p-table [value]='responseTable' [autoLayout]='true' [columns]='infoTable' [paginator]='true' [rows]='10' [resizableColumns]="true" [responsive]='true'>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [style]="col?.style" [pSortableColumn]="col.header !== 'Ação' ? col.field : ''">
                    {{col.header}}
                    <ng-container *ngIf="col.header !== 'Ação'">
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </ng-container>
                </th>
                <!-- <th style='width: 80px;'></th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns='columns'>
            <tr>
                <td *ngFor="let col of columns" [style]="col?.style">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'action'">
                            <div class="btnAction">
                                <span class="update" (click)='openUpdateAgro(rowData)'>
                                    <i class="fas fa-user-edit"></i>
                                </span>
                                <span class="delete" (click)='deleteAgro(rowData)'>
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </div>
                        </ng-container>
                        <span *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </span>

                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]='visibleAgro' header='Agrotóxico' [style]="{width: '350px', minWidth: '200px'}" [modal]='true' [responsive]='true'>
    <form [formGroup]='formAgro' (submit)='submitAgro()'>
        <div class="form-group">
            <div class="group-input">
                <label>Nome do agrotóxico</label>
                <input class="form-control" type="text" maxlength="35" formControlName='nome' placeholder="Nome">
            </div>
        </div>
        <div class="form-group">
            <div class="group-input">
                <label>Tipo do agrotóxico</label>
                <select class="form-control" formControlName='tipo'>
                    <option disabled [value]="'' || null">Selecione</option>
                    <option *ngFor="let item of listTipos" >{{item}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="group-input">
                <label>Principio Ativo</label>
                <select class="form-control" formControlName='principioAtivo'>
                    <option disabled [value]="'' || null">Selecione</option>
                    <option *ngFor="let item of listPrincipioAtivo" >{{item}}</option>
                </select>
            </div>
        </div>
        <div class="cntButton">
            <button [disabled]='!this.formAgro.valid' type="submit">
                {{formAgro.get('id').value ? 'Atualizar' : 'Adicionar'}}
            </button>
        </div>
    </form>
</p-dialog>