.cntDiagnostico {
    display: flex;
    flex-direction: column;
    .cntSearch {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        min-height: 60px;
        .form-group {
            flex: 2;
        }
        .adicionar {
            height: 35px;
            padding: 0 10px;
            background: #497ef3;
            color: white;
            border-radius: 3px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    .btnAction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            // padding: 0 0px;
            height: 24px;
            margin: 3px 0;
            max-width: 90px;
        }
        .update {
            background: #2aa02f;
            color: white;
        }
        .delete {
            background: #cc1a1a;
            color: white;
        }
    }
}

.cntButton {
    padding: 15px 0;
    text-align: center;
    button {
        min-width: 85px;
        height: 30px;
        color: white;
        background: #5abd59;
    }
}