.cntDiagnostico {
    display: flex;
    flex-direction: column;
    .cntSearch {
        display: flex;
        flex-direction: row;
        .form-group {
            flex: 2;
        }
        .cntButton{
            flex: 1;
        }
    }
    .btnAction {
        display: flex;
        flex-direction: column;
        align-items: center;
        .addFicha {
            height: 30px;
            padding: 0 10px;
            color: white;
            background: #65bf5f;
        }
    }
}