.cntDiagnostico {
    display: flex;
    flex-direction: column;
    .cntSearch {
        display: flex;
        flex-direction: row;
        .form-group {
            flex: 2;
        }
        .cntButton{
            flex: 1;
        }
    }
}