<div class="cntDiagnostico">
    <div class="cntSearch">
        <div class="form-group">
            <label>Pesquisar por Nome</label>
            <input class="form-control" type="text" maxlength="60" [(ngModel)]='valueSearch'>
        </div>
        <div class="cntButton">
            <span pTooltip='Limpar' tooltipPosition='top'>
                <i class="fas fa-broom"></i>
            </span>
        </div>

    </div>
    <p-table [value]='responseTable' [autoLayout]='true' [columns]='infoTable' [responsive]='true'>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns='columns'>
            <tr>
                <td *ngFor="let col of columns" [style]="col.style || ''">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'action'">
                            <div class="cntBtn">
                                <span class="impressao" (click)='impressaoFicha(rowData)'>
                                    Ver mais
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'dataCadastro'">
                            <div class="cntData">
                                <ng-container *ngFor="let item of rowData?.fichas; let i=index;">
                                    <span class="data"
                                        [ngStyle]="{'border-bottom': i === (rowData?.fichas?.length - 1) ? 'none' : '1px solid #cdcdcd'}">
                                        {{item.dataCadastro | date: 'dd/MM/yyyy'}}
                                    </span>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'cpf'">
                            {{rowData[col.field] | mask: '000.000.000-00'}}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]='visibleAllFichas' header='Qual ficha?' [modal]='true' [responsive]='true'>
    <ng-container *ngFor="let item of dataFicha?.fichas; let i=index">
        <div class="ficha"
            [ngStyle]="{'border-bottom': i === (dataFicha?.fichas.length - 1) ? 'none' : '1px solid #cdcdcd'}">
            {{item.dataCadastro | date: 'dd/MM/yyyy'}}
            <span class="button" (click)='visibleFicha(item.dataCadastro)'>
                Selecionar
            </span>
        </div>
    </ng-container>
</p-dialog>

<p-dialog [(visible)]='visiblePDF' [header]="'Paciente: ' + dataFicha?.nome" [style]="{width: '550px'}" [modal]='true'
    [responsive]='true'>
    <div class="dadosFicha">
        <div class="dado">pacienteId	............:<span>{{fichaPaciente?.pacienteId || 'Não especificado'}}</span></div>
<div class="dado">Idade	............:<span>{{fichaPaciente?.idadeDiscretizado || 'Não especificado'}}</span></div>
<div class="dado">Sexo	............:<span>{{fichaPaciente?.sexo || 'Não especificado'}}</span></div>
<div class="dado">Gestante	............:<span>{{fichaPaciente?.gestante || 'Não especificado'}}</span></div>
<div class="dado">Tabagismo	............:<span>{{fichaPaciente?.tabagismo || 'Não especificado'}}</span></div>
<div class="dado">Tabagismo Atual	............:<span>{{fichaPaciente?.tabagismoAtual || 'Não especificado'}}</span></div>
<div class="dado">Tabagismo Anterior	............:<span>{{fichaPaciente?.tabagismoAnterior || 'Não especificado'}}</span></div>
<div class="dado">Etilismo	............:<span>{{fichaPaciente?.etilismo || 'Não especificado'}}</span></div>
<div class="dado">Etilismo Atual	............:<span>{{fichaPaciente?.etilismoAtual || 'Não especificado'}}</span></div>
<div class="dado">Etilismo Anterior	............:<span>{{fichaPaciente?.etilismoAnterior || 'Não especificado'}}</span></div>
<div class="dado">Ingestão de Café	............:<span>{{fichaPaciente?.ingestaoCafe || 'Não especificado'}}</span></div>
<div class="dado">Quant. Café p/ dia	............:<span>{{fichaPaciente?.cafeMldiaDiscretizado || 'Não especificado'}}</span></div>
<div class="dado">Relacao de Trabalho	............:<span>{{fichaPaciente?.relacaoTrabalho || 'Não especificado'}}</span></div>
<div class="dado">Funcao no Trabalho	............:<span>{{fichaPaciente?.funcaoTrabalho || 'Não especificado'}}</span></div>
<div class="dado">Tem Contato com Praguicida	............:<span>{{fichaPaciente?.contatoPraguicida || 'Não especificado'}}</span></div>
<div class="dado">Por quanto tempo tem contato	............:<span>{{fichaPaciente?.tempoContatoPraguicida || 'Não especificado'}}</span></div>
<div class="dado">Com qual frequência	............:<span>{{fichaPaciente?.frequenciaContatoPraguicida || 'Não especificado'}}</span></div>
<div class="dado">Última vez que teve contato	............:<span>{{fichaPaciente?.ultimoContatoPraguicida || 'Não especificado'}}</span></div>
<div class="dado">Princípio Ativo	............:<span>{{fichaPaciente?.principioAtivo1 || 'Não especificado'}}</span></div>
<div class="dado">Forma de Aplicacao	............:<span>{{fichaPaciente?.formaAplicacao || 'Não especificado'}}</span></div>
<div class="dado">Nome Comercial	............:<span>{{fichaPaciente?.nomeComercial || 'Não especificado'}}</span></div>
<div class="dado">Princípio Ativo 2	............:<span>{{fichaPaciente?.principioAtivo2 || 'Não especificado'}}</span></div>
<div class="dado">Cultura	............:<span>{{fichaPaciente?.cultura || 'Não especificado'}}</span></div>
<div class="dado">Via de Exposicao	............:<span>{{fichaPaciente?.viaExposicao || 'Não especificado'}}</span></div>
<div class="dado">Adoeceu	............:<span>{{fichaPaciente?.adoeceu || 'Não especificado'}}</span></div>
<div class="dado">Quantas vezes	............:<span>{{fichaPaciente?.nVezesAdoeceu || 'Não especificado'}}</span></div>
<div class="dado">Já foi internado	............:<span>{{fichaPaciente?.internado || 'Não especificado'}}</span></div>
<div class="dado">Quantas vezes	............:<span>{{fichaPaciente?.nvezesInternado || 'Não especificado'}}</span></div>
<div class="dado">Quando foi	............:<span>{{fichaPaciente?.quandoInternado || 'Não especificado'}}</span></div>
<div class="dado">Tipo de contato	............:<span>{{fichaPaciente?.tipoContato || 'Não especificado'}}</span></div>
<div class="dado">EPI	............:<span>{{fichaPaciente?.equipamentoProtecao || 'Não especificado'}}</span></div>
<div class="dado">Roupa de Protecao	............:<span>{{fichaPaciente?.roupaProtecao || 'Não especificado'}}</span></div>
<div class="dado">Bota de Protecao	............:<span>{{fichaPaciente?.botaProtecao || 'Não especificado'}}</span></div>
<div class="dado">Luvas de Protecao	............:<span>{{fichaPaciente?.luvasProtecao || 'Não especificado'}}</span></div>
<div class="dado">Máscara de Protecao	............:<span>{{fichaPaciente?.mascaraProtecao || 'Não especificado'}}</span></div>
<div class="dado">Óculos de Protecao	............:<span>{{fichaPaciente?.oculosProtecao || 'Não especificado'}}</span></div>
<div class="dado">Protetor Auricular	............:<span>{{fichaPaciente?.protetorAuricular || 'Não especificado'}}</span></div>
<div class="dado">Doenças Cardiovascular	............:<span>{{fichaPaciente?.doencaCardioVascular || 'Não especificado'}}</span></div>
<div class="dado">Hipertensão Arterial	............:<span>{{fichaPaciente?.hipertensaoArterial || 'Não especificado'}}</span></div>
<div class="dado">Hipotensão Arterial	............:<span>{{fichaPaciente?.hipotensaoArterial || 'Não especificado'}}</span></div>
<div class="dado">Arritmia	............:<span>{{fichaPaciente?.arritmia || 'Não especificado'}}</span></div>
<div class="dado">Alteração do Sistema Nervoso	............:<span>{{fichaPaciente?.alteracaoSNervoso || 'Não especificado'}}</span></div>
<div class="dado">Dor de Cabeça	............:<span>{{fichaPaciente?.dorCabeca || 'Não especificado'}}</span></div>
<div class="dado">Fraque	............:<span>{{fichaPaciente?.fraquezaMuscular || 'Não especificado'}}</span></div>
<div class="dado">Tremedeira	............:<span>{{fichaPaciente?.tremedeira || 'Não especificado'}}</span></div>
<div class="dado">Tremor Muscular	............:<span>{{fichaPaciente?.tremorMuscular || 'Não especificado'}}</span></div>
<div class="dado">Visão Turva/Embaçada	............:<span>{{fichaPaciente?.visaoTurvaEmbacada || 'Não especificado'}}</span></div>
<div class="dado">Agitacao/Irritabilidade	............:<span>{{fichaPaciente?.agitacaoIrritabilidade || 'Não especificado'}}</span></div>
<div class="dado">Vertigens/Tonturas	............:<span>{{fichaPaciente?.vertigensTonturas || 'Não especificado'}}</span></div>
<div class="dado">Formigamento	............:<span>{{fichaPaciente?.formigamento || 'Não especificado'}}</span></div>
<div class="dado">Incoordenação Motora	............:<span>{{fichaPaciente?.incoordenacaoMotora || 'Não especificado'}}</span></div>
<div class="dado">Aparelho Digestório	............:<span>{{fichaPaciente?.aparelhoDigestorio || 'Não especificado'}}</span></div>
<div class="dado">Cólicas/Dor de Barriga	............:<span>{{fichaPaciente?.colicasDorBarriga || 'Não especificado'}}</span></div>
<div class="dado">Dor de Estômago	............:<span>{{fichaPaciente?.dorEstomago || 'Não especificado'}}</span></div>
<div class="dado">Azia Queimação	............:<span>{{fichaPaciente?.aziaQueimacao || 'Não especificado'}}</span></div>
<div class="dado">Náuseas/Enjoo	............:<span>{{fichaPaciente?.nauseasEnjoo || 'Não especificado'}}</span></div>
<div class="dado">Vomito	............:<span>{{fichaPaciente?.vomito || 'Não especificado'}}</span></div>
<div class="dado">Diarreia	............:<span>{{fichaPaciente?.diarreia || 'Não especificado'}}</span></div>
<div class="dado">Aparelho Respiratório	............:<span>{{fichaPaciente?.aparelhoRespiratorio || 'Não especificado'}}</span></div>
<div class="dado">Falta de Ar	............:<span>{{fichaPaciente?.faltaDeAr || 'Não especificado'}}</span></div>
<div class="dado">Irritação Nasal	............:<span>{{fichaPaciente?.irritacaoNasal || 'Não especificado'}}</span></div>
<div class="dado">Catarro/Escarro	............:<span>{{fichaPaciente?.catarroEscarro || 'Não especificado'}}</span></div>
<div class="dado">Tosse	............:<span>{{fichaPaciente?.tosse || 'Não especificado'}}</span></div>
<div class="dado">Aparelho Auditivo	............:<span>{{fichaPaciente?.aparelhoAuditivo || 'Não especificado'}}</span></div>
<div class="dado">Diminuição da Audiçã	............:<span>{{fichaPaciente?.diminuicaoAudicao || 'Não especificado'}}</span></div>
<div class="dado">Zumbido	............:<span>{{fichaPaciente?.zumbido || 'Não especificado'}}</span></div>
<div class="dado">Pele/Mucosa	............:<span>{{fichaPaciente?.peleMucosa || 'Não especificado'}}</span></div>
<div class="dado">DC-Sensibilizante	............:<span>{{fichaPaciente?.dcSensibilizante || 'Não especificado'}}</span></div>
<div class="dado">DC-Irritativa	............:<span>{{fichaPaciente?.dcIrritativa || 'Não especificado'}}</span></div>
<div class="dado">Irritação Ocular	............:<span>{{fichaPaciente?.irritacaoOcular || 'Não especificado'}}</span></div>
<div class="dado">Aparelho Urinário	............:<span>{{fichaPaciente?.aparelhoUrinario || 'Não especificado'}}</span></div>
<div class="dado">Diminuição de urina	............:<span>{{fichaPaciente?.diminuicaoUrina || 'Não especificado'}}</span></div>
<div class="dado">Urina escura/sangue	............:<span>{{fichaPaciente?.urinaescuraSangue || 'Não especificado'}}</span></div>
<div class="dado">Outro	............:<span>{{fichaPaciente?.outro || 'Não especificado'}}</span></div>
<div class="dado">Exposição à Raio-X	............:<span>{{fichaPaciente?.exposicaoRaiox || 'Não especificado'}}</span></div>
<div class="dado">Quando	............:<span>{{fichaPaciente?.quandodiasExposicao || 'Não especificado'}}</span></div>
<div class="dado">Teve Câncer	............:<span>{{fichaPaciente?.teveCancer || 'Não especificado'}}</span></div>
<div class="dado">SNC Câncer	............:<span>{{fichaPaciente?.sncCancer || 'Não especificado'}}</span></div>
<div class="dado">Câncer Sistema Digestrório	............:<span>{{fichaPaciente?.digestorioCancer || 'Não especificado'}}</span></div>
<div class="dado">Câncer Sistema Respiratório	............:<span>{{fichaPaciente?.respiratorioCancer || 'Não especificado'}}</span></div>
<div class="dado">Câncer Sistema Reprodutor	............:<span>{{fichaPaciente?.reprodutorCancer || 'Não especificado'}}</span></div>
<div class="dado">Câncer Glandular	............:<span>{{fichaPaciente?.glandularCancer || 'Não especificado'}}</span></div>
<div class="dado">Câncer Pele/Osso/Sangue	............:<span>{{fichaPaciente?.peleOssoSangueCancer || 'Não especificado'}}</span></div>
<div class="dado">Câncer na Família	............:<span>{{fichaPaciente?.familiaCancer || 'Não especificado'}}</span></div>
<div class="dado">Câncer SNC na Família	............:<span>{{fichaPaciente?.sncCancerFamilia || 'Não especificado'}}</span></div>
<div class="dado">Câncer Sistema Digestrório na Familia	............:<span>{{fichaPaciente?.digestorioCancerfamilia || 'Não especificado'}}</span></div>
<div class="dado">Câncer Sistema Respiratório na Fami	............:<span>{{fichaPaciente?.respiratorioCancerfamilia || 'Não especificado'}}</span></div>
<div class="dado">Câncer Sistema Reprodutor na Familia	............:<span>{{fichaPaciente?.reprodutorCancerfamilia || 'Não especificado'}}</span></div>
<div class="dado">Câncer Glandular na Familia	............:<span>{{fichaPaciente?.glandularCancerfamilia || 'Não especificado'}}</span></div>
<div class="dado">Câncer Pele/Osso/Sangue na Familia	............:<span>{{fichaPaciente?.peleOssoSangueCancerfamilia || 'Não especificado'}}</span></div>
<div class="dado">É da mesma região	............:<span>{{fichaPaciente?.edaRegiao || 'Não especificado'}}</span></div>
<div class="dado">ch_t	............:<span>{{fichaPaciente?.ch_t_discretizado || 'Não especificado'}}</span></div>
<div class="dado">ch_e	............:<span>{{fichaPaciente?.ch_e_discretizado || 'Não especificado'}}</span></div>
<div class="dado">ch_p	............:<span>{{fichaPaciente?.ch_p_discretizado || 'Não especificado'}}</span></div>
<div class="dado">ast	............:<span>{{fichaPaciente?.ast_discretizado || 'Não especificado'}}</span></div>
<div class="dado">alt	............:<span>{{fichaPaciente?.alt_discretizado || 'Não especificado'}}</span></div>
<div class="dado">y_gt	............:<span>{{fichaPaciente?.y_gt_discretizado || 'Não especificado'}}</span></div>
<div class="dado">Creatina	............:<span>{{fichaPaciente?.creatininaDiscretizado || 'Não especificado'}}</span></div>
<div class="dado">Ambulatório	............:<span>{{fichaPaciente?.ambulatorio || 'Não especificado'}}</span></div>
<div class="dado">Habito Alimentar	............:<span>{{fichaPaciente?.habitoAlimentarDiscretizado || 'Não especificado'}}</span></div>
<div class="dado">IMC	............:<span>{{fichaPaciente?.imcDiscretizado || 'Não especificado'}}</span></div>
<div class="dado">Circunferência Abdominal	............:<span>{{fichaPaciente?.circunferenciaAbdominalDiscretizado || 'Não especificado'}}</span></div>
<div class="dado">Dificuldade p/ Engravidar	............:<span>{{fichaPaciente?.dificuldadeEngravidar || 'Não especificado'}}</span></div>
<div class="dado">Aborto Espontâneo	............:<span>{{fichaPaciente?.abortoEspontaneo || 'Não especificado'}}</span></div>
<div class="dado">Tem Filhos	............:<span>{{fichaPaciente?.temFilhos || 'Não especificado'}}</span></div>
<div class="dado">Filho com Má Formação	............:<span>{{fichaPaciente?.filhoMaFormacao || 'Não especificado'}}</span></div>
<div class="dado">Medicamento Contínuo	............:<span>{{fichaPaciente?.medicamentoContinuo || 'Não especificado'}}</span></div>
<div class="dado">Remédio Micose	............:<span>{{fichaPaciente?.remedioMicose || 'Não especificado'}}</span></div>
<div class="dado">Nome do Remédio	............:<span>{{fichaPaciente?.nomeRemedio || 'Não especificado'}}</span></div>
<div class="dado">Sigla do Diagnóstico	............:<span>{{fichaPaciente?.siglaDiagnostico || 'Não especificado'}}</span></div>
    </div>
    <div class="btnImpressao" pTooltip='Imprimir' tooltipPosition='bottom'>
        <button (click)='printPDF()'>
            <i class="fas fa-file-pdf"></i>
        </button>
    </div>
</p-dialog>