<div class="cntDiagnostico">
    <div class="cntSearch">
        <div class="form-group">
            <label>Pesquisar por Nome</label>
            <input class="form-control" type="text" maxlength="60" [(ngModel)]='valueSearch' >
        </div>
        <div class="cntButton">
            <span pTooltip='Limpar' tooltipPosition='top'>
                <i class="fas fa-broom"></i>
            </span>
        </div>

    </div>
    <p-table [value]='responseTable' [autoLayout]='true' [columns]='infoTable' [responsive]='true'>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns='columns'>
            <tr>
                <td *ngFor="let col of columns" [style]="col.style || ''">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'action'">
                            <div class="cntBtn">
                                <span class="impressao" (click)='impressaoFicha(rowData)'>
                                    <i class="fas fa-file-pdf"></i>
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'dataCadastro'">
                            <div class="cntData">
                                <ng-container *ngFor="let item of rowData?.fichas; let i=index;">
                                    <span class="data" [ngStyle]="{'border-bottom': i === (rowData?.fichas?.length - 1) ? 'none' : '1px solid #cdcdcd'}" >{{item.dataCadastro | date: 'dd/MM/yyyy'}}</span>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'cpf'">
                            {{rowData[col.field] | mask: '000.000.000-00'}}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]='visiblePDF' header='Qual ficha?' [modal]='true' [responsive]='true'>
    <ng-container *ngFor="let item of dataFicha?.fichas; let i=index">
        <div class="ficha" [ngStyle]="{'border-bottom': i === (dataFicha?.fichas.length - 1) ? 'none' : '1px solid #cdcdcd'}"> 
            {{item.dataCadastro | date: 'dd/MM/yyyy'}}
            <span class="button" (click)='printPDF(item.dataCadastro)'>
                <i class="fas fa-file-pdf"></i>
                Imprimir
            </span>
        </div>
    </ng-container>
</p-dialog>