.cntAll {
    display: flex;
    flex-direction: column;
    .cntButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px;
        .button {
            text-decoration: none;
            width: 280px;
            height: 68px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            color: #2a581a;
            align-items: center;
            justify-content: space-evenly;
            background: #ffffff;
            cursor: pointer;
            border: 2px solid #eaeaea;
            i {
                font-size: 35px;
            }
            .title {
                font-size: 18px;
                text-align: center;
            }
        }
    }
}