.cntRegister {
    padding: 4px;
    .title {
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .cntForm {
        .form-group {
            .group-input {
                .inputPassword {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding: 0;
                    position: relative;
                    input {
                        width: 100%;
                    }
                    &:focus {
                        box-shadow: 0 0 4px #88a8ff;
                        border-radius: 4px !important;
                        outline: none;
                    }
                    .password {
                        background: transparent;
                        border: none;
                        flex: 1;
                        padding: 7px;
                    }
                    .clickType {
                        display: flex;
                        cursor: pointer;
                        align-items: inherit;
                        padding: 10px 15px;
                        font-size: 18px;
                        position: absolute;
                    }
                }
                .boxOverpanel {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    background: white;
                    padding: 7px;
                    box-shadow: 0 2px 5px 0 #606060;
                    z-index: 100;
                    border-radius: 5px;
                    width: 100%;
                    color: #424242;
                    height: 104px;
                    title {
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .cntButton {
        display: flex;
        justify-content: center;
        button {
            min-width: 200px;
            padding: 3px 0;
            color: white;
            background: #1cb521;
            border: none;
            border-radius: 4px;
            font-size: 17px;
        }
    }
}