.cntBreadCrumb {
    display: flex;
    align-items: center;
    font-weight: 500;
    label {
        margin: 0;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .separador {
        margin: 0 3px;
    }
}