.cntPaciente {
    display: flex;
    flex-direction: column;
    .cntFunc {
        display: flex;
        flex-direction: row;
        align-items: center;
        .cnt-buttons{
            button {
                padding: 0 8px;
                height: 35px;
                max-width: 100px;
                margin: 0 3px;
            }
            .btn-limpar {
                background: #1556ab;
                color: white;
            }
            .btn-adicionar {
                background: #15ab15;
                color: white;
            }
        }
    }
    .cntButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        span {
            cursor: pointer;
        }
        .edit {
            color: #15ab15;
        }
        .delete {
            color: red;
        }
    }
}