.cntRegister {
    display: flex;
    flex-direction: column;
    width: 100%;
    .cntStep {
        border-bottom: 1px solid #eee;
    }
    .step0 {
        .data-perfil {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            border-bottom: 1px solid #e2e2e2;
            .dadosPessoais {
                display: flex;
                flex-direction: column;
                .dado-registro {
                    margin: 3px 0;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .form-group, .form-group-bool {
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 5px;
        .group-input {
            // justify-content: space-between;
        }
    }
    .cntConcluido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .iconConcluido {
            font-size: 45px;
            color: white;
            background: #0c910c;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
        }
        .descricao {
            margin: 20px 10px;
        }
        .cntBtnConclusao {
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                margin: 5px 0;
                height: 30px;
                padding: 0 20px;
            }
            .imprimir  {
                color: white;
                background: #e3cb24;
            }
            .sair {
                background: #2d74df;
                color: white;

            }
        }
    }
}

.cntButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
        padding: 5px 20px;
        width: 110px;
        background: #2d74df;
        color: white;
    }
    .btnVoltar {
        margin-top: 8px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    .icon {
        color: #ede726;
        font-size: 100px;
    }
    .description {
        margin: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .titleDesc {
            text-align: center;
            font-size: 25px;
            font-weight: 600;
        }
        .desc {
            text-align: center;
            font-size: 15px;
            margin-bottom: 10px;
            font-weight: 400;
        }
    }
    .cntButton {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        button {
            height: 35px;
            font-size: 16px;
            padding: 0;
        }
        .btnSim {
            color: white;
            background: #0c910c;
        }
        .btnNao {
            color: white;
            background: #d71313;
        }
    }
}