<div class="cntRegister">
    <div class="cntStep">
        <app-steps-component [itemSteps]='listSteps' [currentStep]='currentStep'></app-steps-component>
    </div>
    <form [formGroup]='formDiagnostico'>
        <ng-container [ngSwitch]="currentStep">
            <ng-container *ngSwitchCase="0">
                <div class="step0">
                    <div class="endereco">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus dolor non sem mollis
                        volutpat. Ut eget purus et est viverra fermentum. Praesent nulla sapien, hendrerit in congue a,
                        facilisis sed orci.
                    </div>
                    <div class="form-group">
                        <div class="group-input">
                            <label>CEP</label>
                            <input type="text" class="form-control" (blur)='viaCep()' required formControlName='cep' mask='00.000-000' placeholder="00.000-000">
                        </div>
                        <div class="group-input">
                            <label>Municipio de trabalho</label>
                            <input type="text" class="form-control" readonly formControlName='municipioTrabalho' maxlength="50">
                        </div>
                    </div>
                    <div class="cntButton">
                        <button (click)='currentStep = currentStep + 1'>Próximo</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <div class="step1">
                    <div class="form-group form-group-bool">
                        <div class="group-input">
                            <label>Nome</label>
                            <input class="form-control" type="text" readonly>
                        </div>
                        <div class="group-input-bool">
                            <label>Sexo</label>
                            <div>
                                <p-radioButton name='boolSexo' value='Masculino' label='Masculino'></p-radioButton>
                                <p-radioButton name='boolSexo' value='Feminino' label='Feminino'></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-bool">
                        <div class="group-input-bool">
                            <label>Gestante</label>
                            <div>
                                <p-radioButton name='boolGestantes' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolGestantes' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input">
                            <label>Data N.</label>
                            <input class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="group-input">
                            <label>Anos de estudo</label>
                            <input class="form-control" type="text" mask='000'>
                        </div>
                    </div>
                    <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Tabagismo</label>
                            <div>
                                <p-radioButton name='boolTabagismo' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolTabagismo' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Tabagismo (Atual)</label>
                            <div>
                                <p-radioButton name='boolTabagimoAtual' formControlName='tabagismoAtual' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolTabagimoAtual' formControlName='tabagismoAtual' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Tabagismo (Antes)</label>
                            <div>
                                <p-radioButton name='boolTabagismoAntes' formControlName='tabagismoAnterior' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolTabagismoAntes' formControlName='tabagismoAnterior' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Etilismo</label>
                            <div>
                                <p-radioButton name='boolEtilismo' formControlName='etilismo' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolEtilismo' formControlName='etilismo' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Etilismo (Atual)</label>
                            <div>
                                <p-radioButton name='boolEtilismoAtual' formControlName='etilismoAtual' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolEtilismoAtual' formControlName='etilismoAtual' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Etilismo (Antes)</label>
                            <div>
                                <p-radioButton name='boolEtilismoAntes' formControlName='etilismoAnterior' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolEtilismoAntes' formControlName='etilismoAnterior' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-bool">
                        <div class="group-input-bool">
                            <label>Ingest Café</label>
                            <div>
                                <p-radioButton name='boolIngestCafe' formControlName='ingestaoCafe' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolIngestCafe' formControlName='ingestaoCafe' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input">
                            <label>Ml p/ dia</label>
                            <input class="form-control" type="text" formControlName='cafeMlDia' mask='0000'>
                        </div>
                    </div>
                    <div class="cntButton">
                        <button (click)='currentStep = currentStep + 1'>Próximo</button>
                        <div class="btnVoltar" (click)='currentStep = currentStep - 1'>Voltar</div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <div class="form-group">
                    <div class="group-input">
                        <label>Relação de trabalho</label>
                        <select class="form-control" (change)='changeOutrosSelect("option_relacaoTrabalho")' formControlName='option_relacaoTrabalho'>
                            <option disabled value="">Selecione</option>
                            <option *ngFor="let itemOptRel of listOptRelacaoTrabalho" [value]='itemOptRel'>{{itemOptRel}}</option>
                        </select>
                    </div>
                    <div class="group-input">
                        <label>Outro:</label>
                        <input type="text" class="form-control" [disabled]='this.formDiagnostico.get("option_relacaoTrabalho").value !== "Outro"' formControlName='relacaoTrabalho' maxlength="50" placeholder="Relação de trabalho">
                    </div>
                </div>
                <div class="form-group form-group-bool">
                    <div class="group-input">
                        <label>Função de trabalho</label>
                        <select class="form-control" formControlName='funcaoTrabalho'>
                            <option disabled value="">Selecione</option>
                            <option *ngFor="let itemFuncao of listOptFuncaoTrabalho" [value]='itemFuncao' >{{itemFuncao}}</option>
                        </select>
                    </div>
                    <div class="group-input-bool">
                        <label>Contato com praguicidas</label>
                        <div>
                            <p-radioButton name='boolContPraguicida' formControlName='contatoPraguicida' value='Sim' label='Sim'></p-radioButton>
                            <p-radioButton name='boolContPraguicida' formControlName='contatoPraguicida' value='Não' label='Não'></p-radioButton>
                        </div>
                    </div>
                    <!-- <div class="group-input">
                        <label>Outro:</label>
                        <input type="text" class="form-control" [disabled]='!this.formDiagnostico.get("optionRelacaoTrabalho").value.toString().includes("Outro")' formControlName='relacaoTrabalho' maxlength="50" placeholder="Relação de trabalho">
                    </div> -->
                </div>
                <ng-container *ngIf="formDiagnostico.get('contatoPraguicida').value === 'Sim'">
                    <div class="form-group">
                        <div class="group-input">
                            <label>Há quanto tempo tem contato com praguicidas (venenos)?</label>
                            <input type="text" mask='00' class="form-control" formControlName='tempoContatoPraguicida'>
                        </div>
                        <div class="group-input">
                            <label>FrequÊncia de contato com praguicidas (multiplicação de ano/mês/dia)</label>
                            <input type="text" mask='00000' class="form-control" formControlName='frequenciaContatoPraguicida'>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="group-input">
                            <label>Quando foi a última vez que teve contato (em dias) com um praguicida?</label>
                            <input type="text" mask='000' class="form-control" formControlName='ultimoContatoPraguicida'>
                        </div>
                        <!-- <div class="group-input">
                            <label>Com qual produto teve contato pela última vez?</label>
                            <select class="form-control">
                                <option disabled value="">Selecione</option>
                                <option *ngFor="let itemPrinAtiv of listPrincipioAtivo" [value]='itemPrinAtiv'>{{itemPrinAtiv}}</option>
                            </select>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <div class="group-input">
                            <label>Como aplica os produtos?</label>
                            <select class="form-control" formControlName='option_formaAplicacao'>
                                <option disabled value="">Selecione</option>
                                <option *ngFor="let itemForApl of listFormaAplicacao" [value]='itemForApl'>{{itemForApl}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="group-input">
                            <label>Principal via de exposição</label>
                            <select class="form-control" required (change)='changeOutrosSelect("option_formaAplicacao")' formControlName='option_formaAplicacao'>
                                <option disabled value="">Selecione</option>
                                <option *ngFor="let itemForApl of listViaExpocicao" [value]='itemForApl'>{{itemForApl}}</option>
                            </select>
                        </div>
                        <div class="group-input" *ngIf="this.formDiagnostico.get('option_formaAplicacao').value === 'Outro'">
                            <label>Qual?</label>
                            <input type="text" maxlength="200" class="form-control" formControlName='formaAplicacao'> <!--FALTANDO-->
                        </div>
                    </div>
                    <!-- <div class="form-group-bool"> -->
                        <!-- <div class="group-input-bool">
                            <label>Já ficou doente por causa do veneno?</label>
                            <div>
                                <p-radioButton name='boolAdoeceu' formControlName='adoeceu' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolAdoeceu' formControlName='adoeceu' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Quantas vezes você ficou doente por causa do veneno?</label>
                            <div>
                                <p-radioButton name='boolQtVezAdoeceu' formControlName='qtdVezesAdoeceu' value='Uma única vez' label='Uma única vez'></p-radioButton>
                                <p-radioButton name='boolQtVezAdoeceu' formControlName='qtdVezesAdoeceu' value='Mais de uma vez' label='Mais de uma vez'></p-radioButton>
                                <p-radioButton name='boolQtVezAdoeceu' formControlName='qtdVezesAdoeceu' value='Nenhuma vez' label='Nenhuma vez'></p-radioButton>
                            </div>
                        </div> -->
                        <!-- <div class="group-input">
                            <label>Outro:</label>
                            <input type="text" class="form-control" [disabled]='!this.formDiagnostico.get("optionRelacaoTrabalho").value.toString().includes("Outro")' formControlName='relacaoTrabalho' maxlength="50" placeholder="Relação de trabalho">
                        </div> -->
                    <!-- </div> -->
                    <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Alguma vez teve que ser internado?</label>
                            <div>
                                <p-radioButton name='boolInternado' formControlName='internado' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolInternado' formControlName='internado' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Quantas vezes?</label>
                            <div>
                                <p-radioButton name='boolVezesInternado' formControlName='qtdVezesInternado' value='Uma única vez' label='Uma única vez'></p-radioButton>
                                <p-radioButton name='boolVezesInternado' formControlName='qtdVezesInternado' value='Mais de uma vez' label='Mais de uma vez'></p-radioButton>
                                <p-radioButton name='boolVezesInternado' formControlName='qtdVezesInternado' value='Nenhuma vez' label='Nenhuma vez'></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Há quanto tempo isto aconteceu?</label>
                            <div>
                                <p-radioButton name='boolQuandoInternado' formControlName='quandoInterndo' value='Há menos de 10 anos' label='Há menos de 10 anos'></p-radioButton>
                                <p-radioButton name='boolQuandoInternado' formControlName='quandoInterndo' value='Há mais de 10 anos' label='Há mais de 10 anos'></p-radioButton>
                                <p-radioButton name='boolQuandoInternado' formControlName='quandoInterndo' value='Nenhuma vez' label='Nenhuma vez'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Tipo de contato</label>
                            <div>
                                <p-radioButton name='boolTipoContato' formControlName='tipoContato' value='Direto' label='Direto'></p-radioButton>
                                <p-radioButton name='boolTipoContato' formControlName='tipoContato' value='Indeiro' label='Indeiro'></p-radioButton>
                                <p-radioButton name='boolTipoContato' formControlName='tipoContato' value='Sem contato' label='Sem contato'></p-radioButton>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Utiliza equipamentos de proteção individual (EPI)?</label>
                            <div>
                                <p-radioButton name='boolEPI' formControlName='equipamentoProtecao' value='Completo' label='Completo'></p-radioButton>
                                <p-radioButton name='boolEPI' formControlName='equipamentoProtecao' value='Incompleto' label='Incompleto'></p-radioButton>
                                <p-radioButton name='boolEPI' formControlName='equipamentoProtecao' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Roupa Ipermeável apropriada</label>
                            <div>
                                <p-radioButton name='boolRoupaIpermeavel' formControlName='roupaProtecao' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolRoupaIpermeavel' formControlName='roupaProtecao' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Bota aprppriada</label>
                            <div>
                                <p-radioButton name='boolBota' formControlName='botaProtecao' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolBota' formControlName='botaProtecao' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Luvas</label>
                            <div>
                                <p-radioButton name='boolLuvas' formControlName='luvasProtecao' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolLuvas' formControlName='luvasProtecao' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Máscara</label>
                            <div>
                                <p-radioButton name='boolMascara' formControlName='mascaraProtecao' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolMascara' formControlName='mascaraProtecao' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                        <div class="group-input-bool">
                            <label>Óculos de Proteção</label>
                            <div>
                                <p-radioButton name='boolOculos' formControlName='oculosProtecao' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolOculos' formControlName='oculosProtecao' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="form-group-bool">
                        <div class="group-input-bool">
                            <label>Protetor Auricular</label>
                            <div>
                                <p-radioButton name='boolAuricular' formControlName='protetorAuricular' value='Sim' label='Sim'></p-radioButton>
                                <p-radioButton name='boolAuricular' formControlName='protetorAuricular' value='Não' label='Não'></p-radioButton>
                            </div>
                        </div>
                    </div> -->
                </ng-container>
                <div class="cntButton">
                    <button (click)='currentStep = currentStep + 1'>Próximo</button>
                    <div class="btnVoltar" (click)='currentStep = currentStep - 1'>Voltar</div>
                </div>
            </ng-container> 
            <ng-container *ngSwitchCase="3">
                <div class="cntButton">
                    <button (click)='currentStep = currentStep + 1'>Próximo</button>
                    <div class="btnVoltar" (click)='currentStep = currentStep - 1'>Voltar</div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="4">
                <div class="cntButton">
                    <button (click)='currentStep = currentStep + 1'>Próximo</button>
                    <div class="btnVoltar" (click)='currentStep = currentStep - 1'>Voltar</div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="5">
                <div class="cntButton">
                    <button (click)='currentStep = currentStep + 1'>Próximo</button>
                    <div class="btnVoltar" (click)='currentStep = currentStep - 1'>Voltar</div>
                </div>
            </ng-container>
    
        </ng-container>
    </form>

</div>