<div class="sideNav" [ngClass]="{'resizeSide': innerWidth < 700 && closeSide}" [ngStyle]="{'position': innerWidth >= 700 ? 'relative' : 'absolute'}">
    <div class="cntAll">
        <div>
            <div class="cntLogo" (click)='closeSide = !closeSide'>
                <div class="logo">
                    <img src="../../../assets/image/logoSPCS.png">
                </div>
            </div>
            <div class="cntButtons">
                <ng-container *ngFor="let item of listSide">
                    <a [routerLink]='item.link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
                        <span class="iconBtn">
                            <i [class]="item.icon"></i>
                        </span>
                        <span class="labelBtn">{{item.label}}</span>
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="btnPerfil">
            <div class="btn" routerLinkActive='active' (click)='op.toggle($event)' [routerLinkActiveOptions]="{exact: true}">
                Meu perfil
            </div>
            <p-overlayPanel #op [dismissable]="true">
                <div class="overPanelLogout" (click)='logoutUser()'>
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </div>
            </p-overlayPanel>
        </div>
    </div>
</div>