<div class="cntAddress">
    <form [formGroup]='formAddress' (submit)='submitForm()'>
        <div class="form-group">
            <div class="group-input">
                <div class="form-label">CEP</div>
                <input class="form-control" type="text" formControlName='cep' mask='00.000-000' (blur)="viaCep(formAddress.get('cep').value)">
            </div>
            <div class="group-input">
                <div class="form-label">Logradouro</div>
                <input class="form-control" type="text" formControlName='logradouro'>
            </div>
        </div>
        <div class="form-group">
            <div class="group-input">
                <div class="form-label">Número</div>
                <input class="form-control" type="text" formControlName='numero'>
            </div>
            <div class="group-input">
                <div class="form-label">Bairro</div>
                <input class="form-control" type="text" formControlName='bairro'>
            </div>
        </div>
        <div class="form-group">
            <div class="group-input">
                <div class="form-label">Complemento</div>
                <input class="form-control" type="text" formControlName='complemento'>
            </div>
        </div>
        <div class="form-group">
            <div class="group-input">
                <div class="form-label">Cidade</div>
                <input class="form-control" type="text" readonly formControlName='municipioResidencia'>
            </div>
            <div class="group-input">
                <div class="form-label">Estado</div>
                <input class="form-control" type="text" readonly formControlName='estado'>
            </div>
        </div>
    </form>
    <div class="cntButton">
        <button type="submit" [disabled]='!formAddress.valid'>Adicionar</button>
    </div>
</div>